In [19]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [20]:
# Create a settings object with your API key and preferred units
settings = {"APPID": api_key, "units": "metrics"}

In [21]:
# Get data for each city in cities.csv
cities_df = pd.read_csv("Stu_MapWrap_Resources_cities.csv", header = None)
cities_df

             0
0        Paris
1       London
2         Oslo
3      Beijing
4       Moscow
5  Vladivostok
6        Osaka
7     Honolulu
8   Montevideo
9        Erbil

In [36]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
city = []
latitud = []
temperature = []
longitud = []

#data = ow.get_current("Paris", **settings)
#print(data)    
for x in cities_df[0]:
    data = ow.get_current(x, **settings)
    city.append(x)
    latitud.append(data("coord.lat"))
    temperature.append(data("main.temp"))
    longitud.append(data("coord.lon"))
    



# Create a Pandas DataFrame with the results

In [41]:
sumary_df = pd.DataFrame({"city": city, "latitud": latitud, "longitud": longitud, "temperature": temperature})
sumary_df

          city  latitud  longitud  temperature
0        Paris    48.86      2.35       287.43
1       London    51.51     -0.13       288.54
2         Oslo    59.91     10.74       280.53
3      Beijing    39.91    116.39       298.89
4       Moscow    55.75     37.62       283.78
5  Vladivostok    43.12    131.89       291.15
6        Osaka    34.70    135.50       299.28
7     Honolulu    21.30   -157.86       300.36
8   Montevideo    44.94    -95.72       298.36
9        Erbil    36.19     44.01       299.40