In [1]:
import pandas as pd

In [2]:
bitcoin_csv = "Resources_bitcoin_cash_price.csv"
dash_csv = "Resources_dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
 bitcoin_df.head()

        Date    Open    High     Low   Close     Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000  8,445,540,000

In [5]:
 dash_df.head()

        Date    Open    High     Low   Close    Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500  2,452,930,000

In [7]:
merged_df = pd.merge(bitcoin_df, dash_df, on="Date")
merged_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000,"7,279,520,000",298.59,315.58,278.17,313.84,38081600,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000,"7,039,590,000",284.50,301.23,276.57,298.86,43702600,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000,"6,126,800,000",236.05,300.11,220.51,284.36,72695500,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000,"8,359,650,000",301.11,303.74,236.24,236.24,35013800,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000,"8,445,540,000",324.72,325.16,287.25,301.29,28322500,"2,452,930,000"

In [14]:
merged_df = merged_df.rename(columns = {"Open_x": "Open_bitcoin", "High_x": "High_bitcoin", "Low_x": "Low_bitcoin", 
                 "Close_x": "Close_bitcoin", "Volume_x": "Volume_bitcoin", "Market Cap_x": "Market_Cap_bitcoin",
                 "Open_y": "Open_dash", "High_y": "High_dash", "Low_y": "Low_dash", 
                 "Close_y": "Close_dash", "Volume_y": "Volume_dash", "Market Cap_y": "Market_Cap_dash"})
merged_df.head()

,Date,Open_bitcoin,High_bitcoin,Low_bitcoin,Close_bitcoin,Volume_bitcoin,Market_Cap_bitcoin,Open_dash,High_dash,Low_dash,Close_dash,Volume_dash,Market_Cap_dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000,"7,279,520,000",298.59,315.58,278.17,313.84,38081600,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000,"7,039,590,000",284.50,301.23,276.57,298.86,43702600,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000,"6,126,800,000",236.05,300.11,220.51,284.36,72695500,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000,"8,359,650,000",301.11,303.74,236.24,236.24,35013800,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000,"8,445,540,000",324.72,325.16,287.25,301.29,28322500,"2,452,930,000"

In [18]:
bitcoin_open = merged_df["Open_bitcoin"].max()
dash_open = merged_df["Open_dash"].max()

# Collecting best close for Bitcoin and Dash
bitcoin_close = merged_df["Close_bitcoin"].max()
dash_close = merged_df["Close_dash"].max()

# Collecting the total volume for Bitcoin and Dash
bitcoin_volume = round(merged_df["Volume_bitcoin"].sum()/1000000, 2)
dash_volume = round(merged_df["Volume_dash"].sum()/1000000, 2)

summary_df = pd.DataFrame({"Best Bitcoin Open": [bitcoin_open],
                           "Best Bitcoin Close": [bitcoin_close],
                           "Total Bitcoin Volume": str(bitcoin_volume)+" million",
                           "Best Dash Open": [dash_open],
                           "Best Dash Close": [dash_close],
                           "Total Dash Volume": str(dash_volume)+" million"})

summary_df

,Best Bitcoin Open,Best Bitcoin Close,Total Bitcoin Volume,Best Dash Open,Best Dash Close,Total Dash Volume
0,772.42,754.56,24383.05 million,400.42,399.85,2960.28 million